<%- include('header') %>

  <script>
    google.charts.load('current', { 'packages': ['corechart'] });
    google.charts.setOnLoadCallback(drawCharts);

    var passes = <%= overall.pass %>;
    var fails = <%= overall.fail %>;
    var others = <%= overall.skip %>;
    


    // Draw the chart and set the chart values
    function drawCharts() {

      /////////////////////////////////// Pie Chart /////////////////////

      var data = google.visualization.arrayToDataTable([
        ['Test', 'Passed or Failed'],
        ['Passed', passes],
        ['Failed', fails],
        ['Other', others],
      ]);
      // Optional; add a title and set the width and height of the chart
      // Options can be variables such as title: $Title

      if (<%= language =='ALL' %>) {
        var legendLocation = { textStyle: { fontSize: 20 }, alignment: 'center', position: 'left' };
      } else {
        var legendLocation = 'none';
        var myTitle = '';
      };

      var options = {

        'title': myTitle,
        'titleTextStyle': { fontSize: 25, bold: true, color: '#070d18' },
        'colors': ['#109618', '#DC3912', '#2569ff'],
        'backgroundColor': '',
        'is3D': true,
        'chartArea': { width: '350', height: '80%' },
        'legend': legendLocation,
        'slices': {
          0: { offset: 0.0 },
          1: { offset: 0.2 },
          2: { offset: 0.0 }
        }
      };


      // Display the chart inside the <div> element with id="pieChart"
      var chart = new google.visualization.PieChart(document.getElementById('pieChart'));
      chart.draw(data, options);

      /////////////////////////////////// Bar Chart /////////////////////

      var data2 = google.visualization.arrayToDataTable([
        ['Test', 'Pass', 'Fail', 'Other', { role: 'annotation' }],

        <% if(resultsTotal){ %>
        <% for(var i=0; i < resultsTotal.length; i++) { %> 
          ['<%= resultsTotal[i].feature %>', <%= resultsTotal[i].pass%>, <%= resultsTotal[i].fail%>, <%= resultsTotal[i].skip%>, ''],

        <% }} %>

      ]);


      var options2 = {

        'title': '<%= language %>',

        'isStacked': 'percent',
        'titleTextStyle': { fontSize: 25, bold: true, color: '#070d18' },
        'colors': ['#109618', '#DC3912', '#2569ff'],
        'backgroundColor': '',
        'is3D': true,
        'chartArea': { width: '350', height: '80%' },
        'legend': { textStyle: { fontSize: 20 }, alignment: 'center', position: 'left' },
        'hAxis': {
          'minValue': 0,
          'ticks': [0, .3, .6, .9, 1]
        }
      };

      // Display the chart inside the <div> element with id="pieChart"
      var chart2 = new google.visualization.BarChart(document.getElementById('barGraph'));
      chart2.draw(data2, options2);
    } //end of Draw Charts function 

  </script>


<div id="loading" style="display: none;">
    <div id="loader-wrapper">
      <div id="loader"></div>
    </div><!--end of loader-wrapper-->
</div><!--end of loading-->


<div class="container-fluid" id="page">
  <div class="row">
    <div class="col-lg-4 offset-lg-4 text-center">
      <br /><br>
      <h2><%= title %></h2>
    </div><!-- end .col-lg-12 -->
  </div><!-- end .row -->


  <div class="row">
    <div class="col-sm-12 col-lg-8 offset-lg-1 col-xl-8 offset-xl-3">

      <form action="/dashboard" method="get" class="form-inline">
        <div class="form-group">

        <select class="form-control form-control-md" name="testpassid" id="testpassid">
          <% for(var i=0; i < testPassData.length; i++) { %> 

          <option name="testpassid" value="<%= testPassData[i].TestPassID %>">
            <%= testPassData[i].RunDate %> | Description: <%= testPassData[i].Description %>
          </option>
          
          <% }%>
        </select>
        
        <br />
        <button class="btn btn-sm btn-primary date-submit-btn">Go</button>
        </div><!-- end .form-group -->
    </div><!-- end .col-lg-12 -->
  </div><!-- end .row -->

  <br />

  <div class="row text-center">
    <div class="col-lg-5 offset-lg-3 col-xl-4 offset-xl-4">
      <h3><%= language %></h3>
      <!-- Module for Specific Language -->

      <% if(language != "ALL"){ %>
      <!--<h5>Drill-Down Links:</h5>-->
      <div class="drill-down">
        <a href="/results/locale/<%= language %>/testresult/PASS">
          <span class="legend Pass"></span>
          <span class="LinksToResults">Pass</span>
        </a>
        <a href="/results/locale/<%= language %>/testresult/FAIL">
          <span class="legend Fail"></span>
          <span class="LinksToResults">Fail</span>
        </a>
        <a href="/results/locale/<%= language %>/testresult/SKIP">
          <span class="legend Skip"></span>
          <span class="LinksToResults">Skip</span>
        </a>
      </div><!-- end .drill-down -->
      <%}%>
        <!-- legend module here -->
        <div id="pieChart"></div>
        <!-- legend module here -->
    </div><!-- end .col-lg-5 offset-lg-3 col-xl-4 offset-xl-4 -->

    <div class="col-lg-4 col-xl-4">
      <!-- Secondary Bar Graph Goes here -->
      <% if(resultsTotal){ %>
        <div id="barGraph" class="pieChart">BarGraph</div>
        <%  } %>
      <!-- Secondary Bar Graph Ends here -->
    </div><!-- end .col-lg-4 col-xl-4 -->
  </div><!-- end .row -->


  <div class="row">
    <div class="col-lg-8 offset-lg-2 col-xl-6 offset-xl-3">
      <!-- Dashboard button links : BEGIN-->
      <% if(!resultsTotal){ %>
        <h3> Click on Locale links for more detailed information:</h3>
        <h6>Please note that results may take a few moments to load.</h6>
        <br />
        <br />
        <% for(var i=0; i < languagesArray.length; i++) { %>
          <a href='/dashboard/locale/<%= languagesArray[i].Language %>?testpassid=<%= testPassId %>'>
            <button type="button" class="btn btn-warning locale-button" onclick="loadingAnimation()">
              <b><%= languagesArray[i].Language %></b>
            </button>
          </a>
        <% }%><!-- end for(var i=0; i < languagesArray.length; i++) -->
      <% }%><!-- end if(!resultsTotal) -->
      <!-- Dashboard button links : END -->


      <!-- Results by Language button links : BEGIN-->
      <% if(resultsTotal){ %>
        <h3> Click on Feature links below for more detailed information:</h3>
        <h6>Please note that results may take a few moments to load.</h6>
        <br>
        <br>
        <% for(var i=0; i < resultsTotal.length; i++) { 
          if(resultsTotal[i].pass > 0 || resultsTotal[i].fail >0 || resultsTotal[i].skip >0){%>

            <a href='/results/feature/<%= resultsTotal[i].feature %>/locale/<%= language %>?testpassid=<%= testPassId %>'>
              <button type="button" class="btn btn-warning locale-button" onclick="loadingAnimation()">
              <b><%=resultsTotal[i].feature%></b>
              <br>
              </button>
            </a>
        <% }} %><!-- end for(var i=1; i < 25; i++) -->
      <% } %><!-- end if(resultsTotal) -->
      <!-- Results by Language button links : END -->
    </div><!-- end .col-lg-4 -->
  </div><!-- end .row -->
</div><!-- end .container-fluid -->

<br /><br /><br />
<%- include('footer') %>
