<%- include('header') %>

     <script> 
    
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawCharts);

      var passes = <%= overall.pass %>;
      var fails = <%= overall.fail %>;
      var others = <%= overall.skip %>;
      var lang = <%= language %>;


      // Draw the chart and set the chart values
      function drawCharts() {

         /////////////////////////////////// Pie Chart /////////////////////


        var data = google.visualization.arrayToDataTable([
        ['Test', 'Passed or Failed'],
        ['Passed', passes],
        ['Failed', fails],
        ['Other', others],
      ]);
          // Optional; add a title and set the width and height of the chart
          // Options can be variables such as title: $Title
        var options = {

          'title': '<%= language %> Languages, by <%= feature %> Feature Page(s)',

          'titleTextStyle':{fontSize:20, bold:true, color:'grey'},
          'colors': ['green', '#E2453C', 'grey'], 
          'backgroundColor':'', 
          'is3D': true,
          'chartArea':{width:'350', height:'80%'},
          'legend':{textStyle:{fontSize:20}, alignment: 'center', position: 'left'},
          'slices': { 0: {offset:0.0},
                    1: {offset: 0.2},
                    2: {offset: 0.0}}
          };
        // Display the chart inside the <div> element with id="pieChart"
        var chart = new google.visualization.PieChart(document.getElementById('pieChart'));
        chart.draw(data, options);

          /////////////////////////////////// Bar Chart /////////////////////

        var data2 = google.visualization.arrayToDataTable([
        ['Test', 'Pass', 'Fail', 'Other', { role: 'annotation'} ],

        <% if(resultsTotal){ %>
        <% for(var i=0; i < resultsTotal.length; i++) { %>
         ['<%= resultsTotal[i].feature %>', <%= resultsTotal[i].pass %>, <%= resultsTotal[i].fail %>, <%= resultsTotal[i].skip %>, ''], 

         <% }} %>


      ]);
          // Optional; add a title and set the width and height of the chart
          // Options can be variables such as title: $Title
        var options2 = {

          'title': '<%= language %> language(s), by <%= feature %> Feature Page(s)',

          'isStacked':'percent',
          'titleTextStyle':{fontSize:20, bold:true, color:'grey'},
          'colors': ['green', '#E2453C', 'grey'], 
          'backgroundColor':'', 
          'is3D': true,
          'chartArea':{width:'350', height:'80%'},
          'legend':{textStyle:{fontSize:20}, alignment: 'center', position: 'left'},
          'hAxis': {
            'minValue':0,
            'ticks':[0, .3, .6, .9, 1]
           }
          };
        // Display the chart inside the <div> element with id="pieChart"
        var chart2 = new google.visualization.BarChart(document.getElementById('barGraph'));
        chart2.draw(data2, options2);
      }
  </script> 
        <h1><%= language %></h1>
      </div><!-- end .col-sm-12 -->

    </div><!-- end .row -->
	<br><br>

     <div class="col-lg-6 row myChart">
     	
       	<div id="pieChart">Chart</div>

    </div>

    <% if(resultsTotal){ %>
    <div class="col-lg-6 row">
        <div id="barGraph" class="pieChart">BarGraph</div>

    </div>
    <% } %>

<br><br><br>
</div>
<%- include('footer') %>