<%- include('header') %>

  <script>
    google.charts.load('current', { 'packages': ['corechart'] });
    google.charts.setOnLoadCallback(drawCharts);

    var passes = <%= overall.pass %>;
    var fails = <%= overall.fail %>;
    var others = <%= overall.skip %>;



    // Draw the chart and set the chart values
    function drawCharts() {

      /////////////////////////////////// Pie Chart /////////////////////

      var data = google.visualization.arrayToDataTable([
        ['Test', 'Passed or Failed'],
        ['Passed', passes],
        ['Failed', fails],
        ['Other', others],
      ]);
      // Optional; add a title and set the width and height of the chart
      // Options can be variables such as title: $Title

      if (<%= language =='ALL' %>) {
        var legendLocation = { textStyle: { fontSize: 20 }, alignment: 'center', position: 'left' };
        var myTitle = 'Locale: <%= language %>,By <%= feature %> Feature Page';
      } else {
        var legendLocation = 'none';
        var myTitle = '';
      };

      var options = {

        'title': myTitle,
        'titleTextStyle': { fontSize: 25, bold: true, color: '#070d18' },
        'colors': ['#109618', '#DC3912', '#2569ff'],
        'backgroundColor': '',
        'is3D': true,
        'chartArea': { width: '350', height: '80%' },
        'legend': legendLocation,
        'slices': {
          0: { offset: 0.0 },
          1: { offset: 0.2 },
          2: { offset: 0.0 }
        }
      };


      // Display the chart inside the <div> element with id="pieChart"
      var chart = new google.visualization.PieChart(document.getElementById('pieChart'));
      chart.draw(data, options);

      /////////////////////////////////// Bar Chart /////////////////////

      var data2 = google.visualization.arrayToDataTable([
        ['Test', 'Pass', 'Fail', 'Other', { role: 'annotation' }],

        <% if(resultsTotal){ %>
        <% for(var i=0; i < resultsTotal.length; i++) { %> ['<%= resultsTotal[i].feature %>', <%= resultsTotal[i].pass%>, <%= resultsTotal[i].fail%>, <%= resultsTotal[i].skip%>, ''],
        <% }} %>

      ]);


      var options2 = {

        'title': 'Locale: <%= language %>',

        'isStacked': 'percent',
        'titleTextStyle': { fontSize: 25, bold: true, color: '#070d18' },
        'colors': ['#109618', '#DC3912', '#2569ff'],
        'backgroundColor': '',
        'is3D': true,
        'chartArea': { width: '350', height: '80%' },
        'legend': { textStyle: { fontSize: 20 }, alignment: 'center', position: 'left' },
        'hAxis': {
          'minValue': 0,
          'ticks': [0, .3, .6, .9, 1]
        }
      };

      // Display the chart inside the <div> element with id="pieChart"
      var chart2 = new google.visualization.BarChart(document.getElementById('barGraph'));
      chart2.draw(data2, options2);
    } //end of Draw Charts function

    function loadingAnimation(){
      document.getElementById("loading").style.display = "block";
      document.getElementById("page").style.display = "none";
    }

  </script>
  <div id="loading" style="display: none;">
      <div id="loader-wrapper">
        <div id="loader"></div>
      </div><!--end of loader-wrapper-->
  </div><!--end of loading-->

  <div id="page">
  
    <h1 class="text-center">Locale: <%= language %></h1>
    <h5></h5>
    <div class="row">
      <div class="col-lg-1"></div>

      <div class="col-lg-5 myChart">
        <!-- Module for Specific Language -->
        <% if(language != "ALL"){ %>
        <!--<h5>Drill-Down Links:</h5>-->
        <div class="drill-down">
          <a href="/results/locale/<%= language %>/testresult/PASS">
            <span class="legend Pass"></span>
            <span class="LinksToResults">Pass</span>
          </a>
          <a href="/results/locale/<%= language %>/testresult/FAIL">
            <span class="legend Fail"></span>
            <span class="LinksToResults">Fail</span>
          </a>
          <a href="/results/locale/<%= language %>/testresult/SKIP">
            <span class="legend Skip"></span>
            <span class="LinksToResults">Skip</span>
          </a>
        </div> <!--end of div drill-down-->
        <%}%>
          <!-- legend module here -->
        <div id="pieChart" ></div>
          <!-- legend module here -->
          <!-- Additional Buttons Go here -->
        <% if(resultsTotal){ %>
        <br>
        <br>
        <h3> Click on Feature links below for more detailed information:</h3>
        <small>Please note that results may take a few moments to load.</small>
        <br>
        <br>
        <% for(var i=1; i < 25; i++) { %>
        <a href='/results/feature/f<%= [i] %>/locale/<%= language %>'>
          <button type="button" class="btn btn-warning locale-button" onclick="loadingAnimation()">
            <b>F<%= [i] %></b>
            <br>
          </button>
        </a>
        <% } %>
        <!-- Module for Specific Language -->
      </div>  <!--end of div myChart-->

        <% } %>
          <!-- Additional buttons go here -->
          <!-- Secondary Bar Graph Goes here -->
      <% if(resultsTotal){ %>
      <div class="col-lg-5">
        <br>
        <br>
        <br>
        <div id="barGraph" class="pieChart">BarGraph</div>
      </div>

      <div class="col-lg-1"></div>
    </div> <!--end of div row-->
      <%  } %>
        <!-- Secondary Bar Graph Ends here -->
        <!-- Main Locale Links Section Goes here -->

          <!-- Main Locale Links Section Ends here -->
  <!--</div>  end of div xxxxx-->
    <% if(!resultsTotal){ %>
    <div class="row">
      <div class="col-lg-12 main-locale-buttons">
        <h3 class="text-center"> Click on Locale links for more detailed information:</h3>
        <small>Please note that results may take a few moments to load.</small>
        <br>
        <br>
        <% for(var i=0; i < languagesArray.length; i++) { %>
        <a href='/dashboard/locale/<%= languagesArray[i].Language %>'>
          <button type="button" class="btn btn-warning locale-button" onclick="loadingAnimation()">
            <b><%= languagesArray[i].Language %></b>
          </button>
        </a>
        <% }%>
      </div><!--end of div main-locale-buttons-->
    </div><!--end of div row-->
    <% }%>
    <br>

      
    </div>
  </div>

        <%- include('footer') %>
