<%- include('header') %>
  <div id="loading" style="display: none;">
    <div id="loader-wrapper">
      <div id="loader"></div>
    </div>
    <!--end of loader-wrapper-->
  </div>
  <!--end of loading-->
  <div class="container-fluid" id="page">
    <div class="row">
      <div class="col-lg-4 offset-lg-4 text-center">
        <br />
        <br>
        <h1><%= title %></h1>
        <br>
      </div>
      <!-- end .col-lg-4 -->
    </div>
    <!-- end .row -->
    <!-- Check the Status of Selenium & Phantom JS Driver-->
    <div class="row text-center">
      <div class="col-lg-4"></div>
      <div class="col-lg-2">
        <h6>Selenium Driver Running: 
          <% // if(driverStatus.selenium === "on") { %>
          <span class="dot-light-on"></span>
          <% //} else {%>
            <span class="dot-light-off"></span>  
          <% // } %>
        </h6>
      </div>
      <div class="col-lg-2">
        <h6>Phantom JS Driver Running:
          <% // if(driverStatus.selenium === "on") { %>
         <span class="dot-light-on"></span></h6>
        <% //} else {%>
          <span class="dot-light-off"></span>
          <% // } %>
      </div>
      <div class="col-lg-4"></div>
    </div>
    <!-- End Row -->
    <div class="row text-center">
      <div class="col-lg-12">
        <br>
        <p>Choose the language/locale you wish to test.
          <br> Next, choose which specific pages, and the test cases you want to run.</p>
      </div>
    </div>
    
    <div class="row exportTool">
      <div class="col-lg-3"></div>
      <div class="col-lg-3">
        <!--  ------------------------------------------------------Language / Locale Drop Down Options ---------------------------- -->
        <div class="button-group">
          <button type="button" class="btn btn-lg dropdown-toggle width-set bottomSpace topSpace" data-toggle="dropdown">Language Locale <span class="caret"></span></button>
          <ul class="dropdown-menu btn-block width-set">
            <% var allLangs=['en-us', 'en-au', 'en', 'en-ca', 'en-gb', 'en-id', 'en-ie', 'en-in', 'en-my','en-ph', 'en-sg', 'en-th', 'en-tt', 'en-vn', 'cs-cz', 'da-dk', 'de-de', 'de-at', 'de-ch','es-es','es-mx', 'es-ar', 
      'es-bo', 'es-cl', 'es-co', 'es-cr', 'es-do', 'es-ec', 'es-gt', 'es-pe','es-sv','es-us','es-uy','es-ve','fi-fi','fr-fr','fr','fr-be','fr-ca','fr-ch','id-id','it-it','ja-jp','ko-kr','nl-nl','nl-be','no-no',
      'pl-pl','pt-br','pt-pt','ru-ru','sv-se','th-th','tr-tr','vi-vn','zh-cn','cn','zh-tw'];%>

              <!-- the 'ALL' option has to be available for the displaychecked.js funciton to work properly - set to display:none; if wanted-->
              <li class="width-set dropdown-item" style="display:none;">
                <a href="#" data-value="optionA" tabIndex="-1" id="Lang">
              <input id="LAll" class="lang double" onclick="displayChecked(this.id)" type="checkbox" />&nbsp;All</a>
              </li>
      <%
      for(var i=0; i < allLangs.length; i++) { %>
              <li class="width-set dropdown-item">
                <a href="#" data-value="optionA" tabIndex="-1" class="locale">
              <input id="<%= allLangs[i] %>" class="lang double" onclick="displayChecked(this.id)" type="checkbox" />&nbsp;<%= allLangs[i] %></a>
              </li>
              <% console.log(allLangs[i]);} %>
          </ul>
        </div>
        <!-- End Button group -->

        <!--  ------------------------------------------------------ Feature Page Drop Down Options ---------------------------- -->
        <div class="button-group">
          <button type="button" id="mybutton" class="btn btn-lg dropdown-toggle width-set bottomSpace" aria-haspopup="true" aria-expanded="false" data-toggle="dropdown">(FX) Page <span class="caret"></span></button>
          <ul class="dropdown-menu btn-block width-set">
            <!-- the 'ALL' option has to be available for the displaychecked.js funciton to work properly - set to display:none; if wanted-->
            <li class="dropdown-item" style="display:none;">
              <a href="#">
                <input id="All" class="FX double" onclick="displayChecked(this.id)" type="checkbox" />&nbsp; All
              </a>
            </li>
            <%  for(var i=1; i < 26; i++) { var featurePage="F" + [i]; %>
              <li class="dropdown-item">
                <a href="#" class="Fx">
              <input id="<%= featurePage %>" class="FX double" onclick="displayChecked(this.id)" type="checkbox" />&nbsp; 
              <% 
                var thePage="";
                switch (featurePage){
                  case "F1":
                    thePage="(F1) Home Page";
                    break;
                  case "F2":
                    thePage="(F2) Product Tabe of Contents";
                    break;
                  case "F3":
                    thePage="(F3) Product Sub-Category";
                    break;
                  case "F4":
                    thePage="(F4) Product Display";
                    break;
                  case "F5":
                    thePage="(F5) HTML Page";
                    break;
                  case "F6":
                    thePage="(F6)";
                    break;
                  case "F7":
                    thePage="(F7) New Fluke Products";
                    break;
                  case "F8":
                    thePage="(F8) Promotions and Contests TOC";
                    break;
                  case "F9":
                    thePage="(F9) Article Table of Contents";
                    break;
                  case "F10":
                    thePage="(F10) Webcard Table of Contents";
                    break;
                  case "F11":
                    thePage="(F11) Webcard";
                    break;
                  case "F12":
                    thePage="(F12) Fluke News Table of Contents";
                    break;
                  case "F13":
                    thePage="(F13) Fluke News Sub-Category";
                    break;
                  case "F14":
                    thePage="(F14) Article";
                    break;
                  case "F15":
                    thePage="(F15) Tradeshows and Seminars";
                    break;
                  case "F16":
                    thePage="(F16) Training Library";
                    break;
                  case "F17":
                    thePage="(F17) Webinars";
                    break;
                  case "F18":
                    thePage="(F18)";
                    break;
                  case "F19":
                    thePage="(F19) Manuals";
                    break;
                  case "F20":
                    thePage="(F20) Press Releases";
                    break;
                  case "F21":
                    thePage="(F21) Safety Notices";
                    break;
                  case "F22":
                    thePage="(F22) Software Downloads";
                    break;
                  case "F23":
                    thePage="(F23) Where to Buy";
                    break;
                  case "F24":
                    thePage="(F24) Link to Offsite Location";
                    break;
                  case "F25":
                    thePage="(F25) Promotions and Contests Page";
                    break;
                  default:
                    thePage="features[i]";
                } %> <%=thePage%>
            </a>
              </li>
              <% }%>
          </ul>
        </div>
        <!-- end .button-group -->
        <!--  ----NOTE: when we bring in the Scenarios we need to filter down to the common scenarios across feature pages and make sure the ID works (no spaces)------ -->
        <%  var scenarios = [1,3,7,9];
      if(scenarios){ %>
          <div class="button-group" style="display:none;">  <!-- TEST CASE options are not currently working and should have style="display:none;" removed when put into use -->
            <button type="button" class="btn btn-lg dropdown-toggle width-set bottomSpace" data-toggle="dropdown">Test Cases <span class="caret"></span></button>
            <ul class="dropdown-menu btn-block width-set">
              <li class="width-set dropdown-item">
                <a href="#" data-value="optionA" tabIndex="-1" id="case">
                  <input id="0" class="case double" onclick="displayChecked(this.id)" type="checkbox" checked />&nbsp;Default</a>
              </li>
              <% for(var i=0; i < scenarios.length; i++) { %>
                <li class="width-set dropdown-item">
                  <a href="#" data-value="optionA" tabIndex="-1" id="case">
            <input id="<%= scenarios[i] %>" class="case double" onclick="displayChecked(this.id)" type="checkbox" />&nbsp;<%= scenarios[i] %></a>
                </li>
                <% }%>
            </ul>
          </div>
          <% }%>
            <!-- end .button-group -->
            <div class="button-group">
              <button type="button" id="runTest" class="btn btn-warning" onclick="runTest()">Run Test</button>
              &nbsp;<button type="button" class="btn btn-secondary">Schedule Test</button>
            </div>
            <!-- ## Temporary Add Status Section ## -->
            <ul class="list-group" id="status">
            </ul>
      </div>
      <div class="col-lg-3">
        <table class="fixed_headers-3 table">
          <tr>
            <thead>
              <tr>
                <th>ID:
                </th>
                <th>Start Time:
                </th>
                <th>Progress:
                </th>
                <th><small>More Info</small></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>7</td>
                <td>04-07-2019 12:09:21</td>
                <td class="text-center">
                    <span class="dot-light-on"></span>
                </td>
                <td >
                  <button type="button" class="btn btn-sm btn-primary">Info</button>
                </td>
              </tr>
            </tbody>
        </table>
        <!-- end test status column -->
      </div>
    </div>
  </div>
  <!-- end .row -->
  <!--  ##    Option Display Section ### -->
  <div class="row exportTool topSpace">
    <div class="col-lg-12 topSpace">
      <h1>Test Selection:</h1>
    </div>
    <!-- end .col-lg-12 -->
  </div>
  <!-- end .row -->
  <div class="container topSpace">
    <div class="row ">
      <div class="col-md-6 col-lg-6 center">
        <h3>Page Types</h3>
        <div id="pageChildren"></div>
      </div>
      <!-- end .col-md-5 .col-lg-6 -->
      <div class="col-md-6 col-lg-6 center">
        <h3>Languages</h3>
        <div id="langChildren"></div>
      </div>
      <!-- end .col-md-5 .col-lg-6 -->
      <!-- the Test Cases are not currently functioning and so the two sections above where changed from class="col-md-4 col-lg-4 center" - change them back if we start using the Test Case option -->
      <div class="col-md-4 col-lg-4 center" style="display:none;">
        <h3>Test Cases</h3>
        <div id="caseChildren"></div>
      </div>
    </div>
    <!-- end .row -->
  </div>
  <!-- end .container-fluid -->
  <br>
  <br>


  <script>
  let socket = io.connect('http://localhost:3000');

  socket.on('message', function(msg) {
    console.log(msg);
    $('#status').append($('<li>').text(msg));
  });

  socket.emit('message', 'hi mr serveer');

  </script>


  <%- include('footer') %>
