<%- include('header') %>

<script>
function displayInfo(data){
  document.getElementById("testData").innerHTML = (data);
}
</script>

<div id="loading" style="display: none;">
    <div id="loader-wrapper">
      <div id="loader"></div>
    </div><!--end of loader-wrapper-->
</div><!--end of loading-->

<div class="container-fluid" id="page">
  <div class="row">
    <div class="col-lg-4 offset-lg-4 text-center">
      <br /><br>
      <h1><%= title %></h1>

      <% if(typeof user == 'string' && user){ %>

      <h3>User is: <%= user %></h3>

      <% } %>
    </div><!-- end .col-sm-12 -->
  </div><!-- end .row -->

  <div class="row exportTool">
    <div class="col-lg-12">
        <p>Make your selections.<br />Next, click "Export Data".</p>
    </div><!-- end .col-sm-12 -->
  </div><!-- end .row -->

  
<!--  ------------------------------------------------------Date Drop Down Options ---------------------------- -->
<div class="row exportTool">
    <div class="col-lg-12">
        <% if(dates){ %>
      <div class="button-group">
        <button type="button" style="border: 1px solid green;" class="btn btn-lg dropdown-toggle width-set" aria-haspopup="true" aria-expanded="false" data-toggle="dropdown">Test Date</button>
        <ul class="dropdown-menu btn-block width-set">
          <% for(var i=0; i < dates.length; i++) {
            if (statusEndTime[i] != "Fri Jan 02 1970 00:00:00 GMT-0800 (PST)"){ %>
              <li class="dropdown-item">
              <a href="#" id="dateParent-<%=[i]%>">
              <input id="<%= dateIds[i] %>" class="date double" value="<%=testDescription[i] %>" onclick="displayChecked(this.id); displayInfo(this.value);" type="radio" name="date" />&nbsp; <%= dates[i] %></a>
              </li>
          <% }} %>
        </ul>
      </div>
      <% } %>
      <p id="testData"></p>
    </div>
  </div>
  </div>


<!--  ------------------------------------------------------Language / Locale Drop Down Options ---------------------------- -->
  <div class="row exportTool">
    <div class="col-lg-12">
    <% if(languages){ %>
      <div class="button-group">
        <button type="button" class="btn btn-lg dropdown-toggle width-set bottomSpace topSpace" data-toggle="dropdown">Language Locale <span class="caret"></span></button>
        <ul class="dropdown-menu btn-block width-set">

          <!-- the 'ALL' option has to be available for the displaychecked.js funciton to work properly - set to style="display:none;" -->
                <li class="dropdown-item" style="display:none;"> 
                  <a href="#" id="Lang">
                    <input id="LAll" class="lang double" onclick="displayChecked(this.id)" type="checkbox" />&nbsp; All</a>
                </li>

          <% for(var i=0; i < languages.length; i++) { %>
            <li class="width-set dropdown-item" >
              <a href="#" data-value="optionA" tabIndex="-1" class="locale">
              <input id="<%= languages[i] %>" class="lang double" onclick="displayChecked(this.id)" type="checkbox" />&nbsp;<%= languages[i] %></a>
            </li>
            <% }%>
        </ul>
      </div><!-- end .button-group -->
      <% }%>
    </div><!-- end .col-sm-12 -->
  </div><!-- end .row -->

<!--  ------------------------------------------------------Feature/Scenario Drop Down Options ---------------------------- -->
  <div class="row exportTool">
    <div class="col-lg-12">
        <% if(features){ %>
      <div class="button-group">
        <button type="button" id="mybutton" class="btn btn-lg dropdown-toggle width-set bottomSpace" aria-haspopup="true" aria-expanded="false" data-toggle="dropdown">(FX) Page <span class="caret"></span></button>
        <ul class="dropdown-menu btn-block width-set">

          <!-- the 'ALL' option has to be available for the displaychecked.js funciton to work properly - set to display:none;-->
                <li class="dropdown-item" style="display:none;">   
                  <a href="#">
                    <input id="All" class="FX double" onclick="displayChecked(this.id)" type="checkbox" />&nbsp; All</a>
                </li>
                
          <% for(var i=0; i < features.length; i++) { %>
          <li class="dropdown-item">
            <a href="#" class="Fx">
              <input id="<%= features[i] %>" class="FX double" onclick="displayChecked(this.id)" type="checkbox" />&nbsp; 
              <% 
                var thePage="";
                switch (features[i]){
                  case "F1":
                    thePage="(F1) Home Page";
                    break;
                  case "F2":
                    thePage="(F2) Product Tabe of Contents";
                    break;
                  case "F3":
                    thePage="(F3) Product Sub-Category";
                    break;
                  case "F4":
                    thePage="(F4) Product Display";
                    break;
                  case "F5":
                    thePage="(F5) HTML Page";
                    break;
                  case "F6":
                    thePage="(F6)";
                    break;
                  case "F7":
                    thePage="(F7) New Fluke Products";
                    break;
                  case "F8":
                    thePage="(F8) Promotions and Contests TOC";
                    break;
                  case "F9":
                    thePage="(F9) Article Table of Contents";
                    break;
                  case "F10":
                    thePage="(F10) Webcard Table of Contents";
                    break;
                  case "F11":
                    thePage="(F11) Webcard";
                    break;
                  case "F12":
                    thePage="(F12) Fluke News Table of Contents";
                    break;
                  case "F13":
                    thePage="(F13) Fluke News Sub-Category";
                    break;
                  case "F14":
                    thePage="(F14) Article";
                    break;
                  case "F15":
                    thePage="(F15) Tradeshows and Seminars";
                    break;
                  case "F16":
                    thePage="(F16) Training Library";
                    break;
                  case "F17":
                    thePage="(F17) Webinars";
                    break;
                  case "F18":
                    thePage="(F18)";
                    break;
                  case "F19":
                    thePage="(F19) Manuals";
                    break;
                  case "F20":
                    thePage="(F20) Press Releases";
                    break;
                  case "F21":
                    thePage="(F21) Safety Notices";
                    break;
                  case "F22":
                    thePage="(F22) Software Downloads";
                    break;
                  case "F23":
                    thePage="(F23) Where to Buy";
                    break;
                  case "F24":
                    thePage="(F24) Link to Offsite Location";
                    break;
                  case "F25":
                    thePage="(F25) Promotions and Contests Page";
                    break;
                  default:
                    thePage=features[i];
                } %> <%=thePage%>
            </a>
            </li>
            <% }%>
        </ul>
      </div><!-- end .button-group -->
        <% } %>
    </div><!-- end .col-sm-12 -->
  </div><!-- end .row -->

 
<!--  ------------------------------------------------------Run Reports buttons ---------------------------- -->
    <div class="row exportTool">
      <div class="col-lg-12">
        <div class="button-group">
          <a id="myhref">
            <button type="button" class="btn btn-lg width-set bottomSpace" id="runTest" onclick="exportSelections()"><b>Export Data</b></button> 
            <!-- the exportSelections() function is in the "runTests.js" file, the api_export.js file has the database query -->
          </a><br>
          <!--<button type="button" class="btn btn-md" id="exportLanguageSet" onclick="exportLanguageSet()"><b>Export Language Set</b></button>&nbsp;-->


              <!--------------------------- taking out the comprehensive report for now------------------------->
          <!-- <a href="/export?feature=All&language=All&testresult=&query=&testpassid=All">
            <button type="button" class="btn btn-md btn-danger exportToolBtn" id="exportAll"><b>Build Comprehensive Report</b></button> 
            </a>
            <p style="color:red">Warning! This takes a while!</p> -->



        </div>
      </div><!-- end .col-lg-12 -->
    </div><!-- end .row -->


   
    <!--  ------------------------------------------------------Display Section ---------------------------- -->

   
    <div class="col-lg-12 topSpace center">
      <h1>Export Data Selection:</h1>
    </div><!-- end .col-lg-12 -->
 
    <div class="container topSpace">
        <div class="row exportTool">

        <div class="col-md-4 col-lg-4 center" >
          <h3>Date Selection</h3>
          <div id="dateChild"></div>
        </div>
          
        <div class="col-md-4 col-lg-4">
          <h3>Languages</h3>
          <div id="langChildren"></div>
        </div><!-- end .col-md-5 .col-lg-6 -->

        <div class="col-md-4 col-lg-4">
          <h3>Pages</h3>
          <div id="pageChildren"></div>
        </div><!-- end .col-md-5 .col-lg-6 -->

      </div><!-- end .row -->
    </div>
    
</div><!-- end .container-fluid -->


<%- include('footer') %>
