<%- include('header') %>

    <h1><%= title %></h1>
    <br>
    <h4>Results: <%= length %></h4>
    <table class="table">
            <tr>
        <th>ID:</th>
        <th>Run Date:</th>
        <th>Template: </th>
        <th>Result: </th>
        <th>URL:</th>
        <th>Output:</th>

    </tr>
    <% if(results){ %>
    <% for(var i=0; i < results.length; i++) { %>

   <tr>
     <td><%= results[i].id %></td>
     <td><%= results[i].RunDate %></td> 
     <td><%= results[i].Template %></td>
     <td><%= results[i].Language %></td> 
     <td><%= results[i].Result %></td>
     <td><%= results[i].URLs %></td>
     <td><%= results[i].Output %></td>
   </tr>
    <% }} %>
</table>

<%- include('footer') %>