<%- include('header') %>
  <% if(features){ %>
    <h3>Available Features</h3>
    <% for(var i=0; i < features.length; i++) { %>
      <div style="display: inline-block;">
        <h4>&bull; <%= features[i] %></h4></div>
      <% }}%>
        <% if(languages){ %>
          <h3>Available Languages:</h3>
          <% for(var i=0; i < languages.length; i++) { %>
            <div style="display: inline-block;">
              <h4>&bull; <%= languages[i]   %></h4></div>
            <% }}%>
              <table class="table">
                <tr>
                  <th colspan="2" style="border-top: none !important; padding: 0px !important">
                    <h2>Results: <%= length %></h2></th>
                </tr>
                <tr>
                  <td colspan="5" style="border-top: none !important; padding: 0px !important">
                    <ul class="nav nav-pills" id="myTabs">
                      <li class="active">
                        <a href="#all" data-toggle="tab" aria-controls="all" role="tab">ALL</a>
                      </li>
                      <li>
                        <a href="<%= features[i] %>" data-toggle="dropdown" class="dropdown-toggle">
                            Features:
                              <span class="caret"></span>
                            </a>
                        <ul class="dropdown-menu">
                          <li>
                            <a href="#allFeatures" class="dropdown-item">ALL</a>
                          </li>
                          <% if(features){ %>
                            <% for(var i=0; i < features.length; i++) { %>
                              <li>
                                <a href="#<%= features[i] %>" class="dropdown-item" data-toggle="tab" aria-controls="<%= features[i] %>" role="tab">
                                  <%= features[i] %>
                                </a>
                              </li>
                              <% }}%>
                        </ul>
                      </li>
                      <li>
                        <a href="<%= languages[i] %>" data-toggle="dropdown" class="dropdown-toggle">
                            Languages:
                              <span class="caret"></span>
                            </a>
                        <ul class="dropdown-menu">
                          <li>
                            <a href="#alllanguages" class="dropdown-item" data-toggle="tab" role="tab">ALL</a>
                          </li>
                          <% if(languages){ %>
                            <% for(var i=0; i < languages.length; i++) { %>
                              <li>
                                <a href="#<%= languages[i] %> " class="dropdown-item">
                                  <%= languages[i] %>
                                </a>
                              </li>
                              <% }}%>
                        </ul>
                      </li>
                    </ul>
                  </td>
                  <td class="text-right" style="border:none !important">
                    <button type="button" class="btn btn-info">Export</button>
                  </td>
                </tr>
                <tr>
                  <th>TR ID:</th>
                  <th>Run Date:</th>
                  <th>Template: </th>
                  <th>Language: </th>
                  <th>Result: </th>
                  <th class="text-center">URL:</th>
                  <th class="text-center">Output:</th>
                </tr>
                <!-- ###                                                               -->
                <!-- ###         ALL RESULTS LOADED IN FIRST TAB HERE                  -->
                <!-- ###                                                               -->
                <% if(results){ %>
                  <% for(var i=0; i < results.length; i++) { %>
                    <div class="tab-content clearfix">
                      <div class="tab-pane active" id="all">
                        <tr>
                          <td>
                            <%= results[i].TestRunId %>
                          </td>
                          <td>
                            <%= results[i].RunDate %>
                          </td>
                          <td>
                            <%= results[i].Template %>
                          </td>
                          <td>
                            <%= results[i].Language %>
                          </td>
                          <td>
                            <%if (results[i].Result === "PASS") { %>
                              <button type="button" class="btn btn-success">PASS</button>
                              <% }else if(results[i].Result === "FAIL"){ %>
                                <button type="button" class="btn btn-danger">FAIL</button>
                                <% }else{%>
                                  <button type="button" class="btn btn-warning">SKIP</button>
                                  <% } %>
                          </td>
                          <td>
                            <a href="<%= results[i].URLs %>">
                              <%= results[i].URLs %>
                            </a>
                          </td>
                          <td>
                            <%= results[i].Output %>
                          </td>
                        </tr>
                      </div>
                    </div>
                    <% }} %>
                      <% if(results){ %>
                        <% for(var i=0; i < results.length; i++) { %>
                          <% if(results[i].Template === features[0]) { %>
                            <!-- Sorting begins here -->
                            <div class="tab-content clearfix">
                              <div class="tab-pane" id="<%= features[0] %>">
                                <tr>
                                  <td>
                                    <%= results[i].ID %>
                                      <td>
                                        <%= results[i].TestRunId %>
                                      </td>
                                  </td>
                                  <td>
                                    <%= results[i].RunDate %>
                                  </td>
                                  <td>
                                    <%= results[i].Template %>
                                  </td>
                                  <td>
                                    <%= results[i].Language %>
                                  </td>
                                  <td>
                                    <%if (results[i].Result === "PASS") { %>
                                      <button type="button" class="btn btn-success">PASS</button>
                                      <% }else if(results[i].Result === "FAIL"){ %>
                                        <button type="button" class="btn btn-danger">FAIL</button>
                                        <% }else{%>
                                          <button type="button" class="btn btn-warning">SKIP</button>
                                          <% } %>
                                  </td>
                                  <td>
                                    <a href="<%= results[i].URLs %>">
                                      <%= results[i].URLs %>
                                    </a>
                                  </td>
                                  <td>
                                    <%= results[i].Output %>
                                  </td>
                                </tr>
                              </div>
                            </div>
                            <% }}} %>
              </table>
              <%- include('footer') %>
