<%- include('header') %>
<body>
    <h1><%= title %></h1>
    <br>
    <table>
    <% for(var i=0; i < results.length; i++) { %>
   <tr>
     <td><%= results[i].id %></td>
     <td><%= results[i].RunDate %></td> 
     <td><%= results[i].Template %></td>
     <td><%= results[i].Result %></td>
     <td><%= results[i].URLs %></td>
     <td><%= results[i].Output %></td>
   </tr>
    <% } %>
</table>
</body>
<%- include('footer') %>