<%- include('header') %>

<div class="container-fluid">
  <div class="row">
    <div class="col-lg-4 offset-lg-4 text-center">
      <br /><br>
      <h1><%= title %></h1>

      <% if(typeof user == 'string' && user){ %>

      <h3>User is: <%= user %></h3>

      <% } %>

    </div><!-- end .col-sm-12 -->
  </div><!-- end .row -->

  <div class="row">
    <div class="col-lg-4 offset-lg-4 text-center">
        <h3><%= template %> - <%= language %></h3>
        <div>
          <a href="/export?feature=<%= template %>&language=<%= language %>&testresult=<%= testresult %>&query=<%= %>"<button class='btn btn-secondary btn-sm'>Export</button></a>
        </div>
        <br />
        <div>
          <h6>Results Found: <%= length %></h6>
        </div>
    </div><!-- end .col-sm-4 -->
  </div><!-- end .row -->

  <div class="row">
    <!-- pass/fail links here -->
    <div class="col-lg-4 text-center" style="border-top: none !important; padding-bottom: .5em">
      <% if(results){ %>
        <a href="<%= pfsUrl %>PASS">
          <div class="legend Pass"></div>
          <div class="LinksToResults">Pass</div>
        </a>
        <a href="<%= pfsUrl %>FAIL">
          <div class="legend Fail"></div>
          <div class="LinksToResults">Fail</div>
        </a>
        <a href="<%= pfsUrl %>SKIP">
          <div class="legend Skip"></div>
          <div class="LinksToResults">Skip</div>
        </a>
        <%}%>
    </div><!-- end .col-sm-4 -->
    <!-- end pass/fail/skip -->

    <!-- pagination Begins here -->
    <div class="col-lg-2 offset-lg-6 text-center">
      <nav aria-label="...">
        <ul class="pagination">
          <% if(page <= 1 ) { %>
            <li class="page-item disabled">
              <a class="page-link" href="#" tabindex="-1">Previous</a>
            </li>
          <% } else { %>
            <li class="page-item">
              <a class="page-link" href="<%= currentUrl %><%= page-1 %>" tabindex="-1">Previous</a>
            </li>
          <% }%>
            <li class="page-item active page-number">
              <a class="page-link" href="<%= currentUrl %><%= i %>"><%= page %> of <%= pages %></a>
            </li>
          <% if(page >= pages){ %>
            <li class="page-item disabled">
              <a class="page-link" href="#">Next</a>
            </li>
          <% }else{ %>
            <li class="page-item page-number">
              <a class="page-link" href="<%= currentUrl %><%= page+1 %>">Next</a>
            </li>
          <% } %>
        </ul>
      </nav>
    </div><!-- end .col-lg-2 .offset-lg-6 -->
    <!-- pagination Ends here -->
  </div><!-- end .row -->


    <div class="table-responsive">
      <table class="table table-hover table-bordered">
          <thead class="thead-light">
            <tr>
              <th>Run  Date:</th>
              <th>Test Pass ID:</th>
              <th>Template: </th>
              <th>Language:</th>
              <th>Test Scenario: </th>
              <th class="text-center">Test Case ID:</th>
              <th class="text-left">Result:</th>
              <th>Message: </th>
              <th class="text-left">URL:</th>
            </tr>
          </thead>
          <!-- ###                                                               -->
          <!-- ###         ALL RESULTS LOADED IN FIRST TAB HERE                  -->
          <!-- ###                                                               -->
          <% if(results){ %>
            <% for(var i=0; i < results.length; i++) { %>
                  <tr>
                    <td>
                     <% var a = results[i].RunDate.toString();
                      var b = a.substring(0, a.indexOf('GMT')); %>
                      <%=b%>
                    </td>
                    <td>
                      <!-- Titled Test Pass ID -->
                      <%= results[i].TestPassId %>
                    </td>
                    <td>
                      <%= results[i].Template %>
                    </td>
                    <td>
                      <%= results[i].Language %>
                    </td>
                    <td>
                      <% if(results[i].Output.includes("Result:")){
                        var q = results[i].Output;
                        var r = q.split("Result:")[0];
                          r = r.replace("Scenario:",'');
                      }else{
                        var r = results[i].Output;
                          r = r.replace("Scenario:",'');
                      } %> 
                      <a href="<%= currentUrl %>query/<%=r%>"><%=r%></a>
                    </td>
                    
                    <td>
                      <!-- Titled 'Test Case ID' -->
                      <%= results[i].TestCaseId %> 
                    </td>
                    <td>
                      <%if (results[i].Result === "PASS") { %>
                        <a href="<%= pfsUrl %>PASS" class="btn btn-success">PASS</a>
                        <% }else if(results[i].Result === "FAIL"){ %>
                          <a href="<%= pfsUrl %>FAIL" class="btn btn-danger">FAIL</a>
                          <% }else{%>
                            <a href="<%= pfsUrl %>SKIP" class="btn btn-primary">SKIP</a>
                            <% } %>
                    </td>
                    <td>
                      <!-- Titled 'Message' and includes fail errors and skip messages ID -->
                      <% if(results[i].Output.includes("Result:")){
                        var y = results[i].Output;
                        var x = y.substring(y.indexOf("Result:"));
                        x = x.replace("Result:",'');
                      }else{
                        var x = '';
                      } %> 
                      <%=x%>
                    </td>
                    <td>
                      <a href="<%= results[i].URLs %>" target="_blank">
                        <%= results[i].URLs %>
                      </a>
                    </td>
                                       
                  </tr>
              <% }} %>
      </table>
    </div><!-- end .table-responsive -->
  </div><!-- end .row -->
  <!-- pagination Begins here -->
  <div class="col-lg-2 offset-lg-10 text-center">
      <nav aria-label="...">
        <ul class="pagination">
          <% if(page <= 1 ) { %>
            <li class="page-item disabled">
              <a class="page-link" href="#" tabindex="-1">Previous</a>
            </li>
          <% } else { %>
            <li class="page-item">
              <a class="page-link" href="<%= currentUrl %><%= page-1 %>" tabindex="-1">Previous</a>
            </li>
          <% }%>
            <li class="page-item active page-number">
              <a class="page-link" href="<%= currentUrl %><%= i %>"><%= page %> of <%= pages %></a>
            </li>
          <% if(page >= pages){ %>
            <li class="page-item disabled">
              <a class="page-link" href="#">Next</a>
            </li>
          <% }else{ %>
            <li class="page-item page-number">
              <a class="page-link" href="<%= currentUrl %><%= page+1 %>">Next</a>
            </li>
          <% } %>
        </ul>
      </nav>
    </div><!-- end .col-lg-2 .offset-lg-6 -->
    <!-- pagination Ends here -->
  </div><!-- end .container -->

  <br /><br /><br /><br />
  <%- include('footer') %>
