<%- include('header') %>

<div id="loading" style="display: none;">
    <div id="loader-wrapper">
      <div id="loader"></div>
    </div><!--end of loader-wrapper-->
</div><!--end of loading-->

<div class="container-fluid" id="page">
    <div class="row">
        <div class="col-lg-4 offset-lg-4 text-center">
        <br /><br>
        <h1><%= title %></h1>

        <% if(typeof user == 'string' && user){ %>

        <h3>User is: <%= user %></h3>

        <% } %>
        </div><!-- end .col-sm-12 -->
    </div><!-- end .row -->

    <div class="row exportTool">
        <div class="col-lg-12">
            <p>Make your selections before running a test.  <br \>
                You must first save your Language and Template selections before choosing Test Cases and URLs. </p>
        </div><!-- end .col-sm-12 -->
    </div><!-- end .row -->

  
    <!--  ------------------------------------------------------Button Options ---------------------------- -->

    <div class="row">
        <div class="col-lg-4 text-center offset-lg-2">

            <!--  ------------------------------------------------------Test Names ---------------------------- -->
            <button style="display:none;" type="button" class="btn btn-lg btn-warning width-set" data-toggle="modal" data-target="#nameModal">
                    Test Names
                </button>
            <br \>
            <!-- Modal Test Names-->
            <div class="modal fade" id="nameModal" tabindex="-1" role="dialog" aria-labelledby="nameModalTitle" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="nameModalTitle">Select a Test</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                            <!-- Pull in Test Names-->
                            <div class="form-check">
                                <label for="1">
                                        <input class="form-check-input double" type="radio" name="langRadios" id="1" value="1">&nbsp; kendall's crazy test
                                </label>
                            </div> 

                    </div>
                    <div class="modal-footer">
                        <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
                        <button type="button" class="btn btn-success" data-dismiss="modal">Run</button>
                    </div>
                    </div>
                </div>
            </div>

            <!--  ------------------------------------------------------Languages ---------------------------- -->
            <button type="button" style="border: 1px solid green;"  class="btn btn-lg width-set topSpace" data-toggle="modal" data-target="#langModal">
                Languages
                </button>
                <br \>    
            <!-- Modal Languages-->
            <div class="modal fade" id="langModal" tabindex="-1" role="dialog" aria-labelledby="langTitle" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="langTitle">Select Languages</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <!-- <input type="text" placeholder="Search.." id="langSearch" onkeyup="filterFunction()"> --> 
                        <!-- Search Bar  - the search function needs work as it currently filters out the checkbox-->
                        <ul style="list-style-type: none;" id="myUL">
                            <% var allLangs=['en-us', 'en-au', 'en', 'en-ca', 'en-gb', 'en-id', 'en-ie', 'en-in', 'en-my','en-ph', 'en-sg', 'en-th', 'en-tt', 'en-vn', 'cs-cz', 'da-dk', 'de-de', 'de-at', 'de-ch','es-es','es-mx', 'es-ar', 
                    'es-bo', 'es-cl', 'es-co', 'es-cr', 'es-do', 'es-ec', 'es-gt', 'es-pe','es-sv','es-us','es-uy','es-ve','fi-fi','fr-fr','fr','fr-be','fr-ca','fr-ch','id-id','it-it','ja-jp','ko-kr','nl-nl','nl-be','no-no',
                    'pl-pl','pt-br','pt-pt','ru-ru','sv-se','th-th','tr-tr','vi-vn','zh-cn','cn','zh-tw'];%>
                            <li class="width-set columnized">
                                <input id="allLanguages" class="lang double" onclick="" type="checkbox" />&nbsp;All</a>
                            </li>
                            <% for(var i=0; i < allLangs.length; i++) { %>
                            <li class="width-set columnized">
                                <input id="<%= allLangs[i] %>" class="lang double" onclick="" type="checkbox" />&nbsp;<%= allLangs[i] %>
                            </li>
                            <% } %>
                        </ul>
                    </div>
                    <div class="modal-footer">
                        <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
                        <button type="button" class="btn btn-primary" onclick="showLangs()" data-dismiss="modal">Save selections</button>
                    </div>
                    </div>
                </div>
            </div>

            <!--  ------------------------------------------------------Templates ---------------------------- -->
            <button type="button" id="tb" style="border: 1px solid green;"  class="btn btn-lg width-set topSpace" data-toggle="modal" data-target="#FxModal" disabled>
                F(x) Template
                </button>
                <br \>    
            <!-- Modal Templates-->
            <div class="modal fade" id="FxModal" tabindex="-1" role="dialog" aria-labelledby="FxTitle" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content" style="text-align:left; padding:2em;">
                        <div class="modal-header">
                            <h5 class="modal-title" id="FxTitle">Select Template Pages (Fx)</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">                        
                            <div class="form-check">
                                <label for="F1">
                                        <input class="form-check-input double" type="radio" name="featureRadios" id="F1" value="F1"> (F1) Home Page
                                </label>
                            </div>

                            <div class="form-check">
                                <label for="F2">
                                        <input class="form-check-input double" type="radio" name="featureRadios" id="F2" value="F2"> (F2) Product Tabe of Contents
                                </label>
                            </div>
                            <div class="form-check">
                                <label for="F3">
                                        <input class="form-check-input double" type="radio" name="featureRadios" id="F3" value="F3"> (F3) Product Sub-Category
                                </label>
                            </div>
                            <div class="form-check">
                                <label for="F4">
                                        <input class="form-check-input double" type="radio" name="featureRadios" id="F4" value="F4"> (F4) Product Display
                                </label>
                            </div>    
                            <div class="form-check" style = "display: none">
                                <label for="F5">
                                        <input class="form-check-input double" type="radio" name="featureRadios" id="F5" value="F5"> (F5) HTML Page
                                </label>
                            </div>   
                            <div class="form-check" style = "display: none">
                                <label for="F6">
                                        <input class="form-check-input double" type="radio" name="featureRadios" id="F6" value="F6"> (F6)
                                </label>
                            </div>    
                            <div class="form-check">
                                <label for="F7">
                                        <input class="form-check-input double" type="radio" name="featureRadios" id="F7" value="F7"> (F7) New Fluke Products
                                </label>
                            </div>   
                            <div class="form-check">
                                <label for="F8">
                                        <input class="form-check-input double" type="radio" name="featureRadios" id="F8" value="F8"> (F8) Promotions and Contests TOC
                                </label>
                            </div>    
                            <div class="form-check">
                                <label for="F9">
                                        <input class="form-check-input double" type="radio" name="featureRadios" id="F9" value="F9"> (F9) Article Table of Contents
                                </label>
                            </div>     
                            <div class="form-check">
                                <label for="F10">
                                        <input class="form-check-input double" type="radio" name="featureRadios" id="F10" value="F10"> (F10) Webcard Table of Contents
                                </label>
                            </div>   
                            <div class="form-check">
                                <label for="F11">
                                        <input class="form-check-input double" type="radio" name="featureRadios" id="F11" value="F11"> (F11) Webcard
                                </label>
                            </div>   
                            <div class="form-check">
                                <label for="F12">
                                        <input class="form-check-input double" type="radio" name="featureRadios" id="F12" value="F12"> (F12) Fluke News Table of Contents
                                </label>
                            </div>   
                            <div class="form-check">
                                <label for="F13">
                                        <input class="form-check-input double" type="radio" name="featureRadios" id="F13" value="F13"> (F13) Fluke News Sub-Category
                                </label>
                            </div>   
                            <div class="form-check">
                                <label for="F14">
                                        <input class="form-check-input double" type="radio" name="featureRadios" id="F14" value="F14"> (F14) Article
                                </label>
                            </div>   
                            <div class="form-check">
                                <label for="F15">
                                        <input class="form-check-input double" type="radio" name="featureRadios" id="F15" value="F15"> (F15) Tradeshows and Seminars
                                </label>
                            </div>   
                            <div class="form-check">
                                <label for="F16">
                                        <input class="form-check-input double" type="radio" name="featureRadios" id="F16" value="F16"> (F16) Training Library
                                </label>
                            </div>   
                            <div class="form-check">
                                <label for="F17">
                                        <input class="form-check-input double" type="radio" name="featureRadios" id="F17" value="F17"> (F17) Webinars
                                </label>
                            </div>   
                            <div class="form-check" style = "display: none">
                                <label for="F18">
                                        <input class="form-check-input double" type="radio" name="featureRadios" id="F18" value="F18"> (F18)
                                </label>
                            </div>   
                            <div class="form-check">
                                <label for="F19">
                                        <input class="form-check-input double" type="radio" name="featureRadios" id="F19" value="F19"> (F19) Manuals
                                </label>
                            </div>   
                            <div class="form-check">
                                <label for="F20">
                                        <input class="form-check-input double" type="radio" name="featureRadios" id="F20" value="F20"> (F20) Press Releases
                                </label>
                            </div>   
                            <div class="form-check">
                                <label for="F21">
                                        <input class="form-check-input double" type="radio" name="featureRadios" id="F21" value="F21"> (F21) Safety Notices
                                </label>
                            </div>   
                            <div class="form-check">
                                <label for="F22">
                                        <input class="form-check-input double" type="radio" name="featureRadios" id="F22" value="F22"> (F22) Software Downloads
                                </label>
                            </div>   
                            <div class="form-check">
                                <label for="F23">
                                        <input class="form-check-input double" type="radio" name="featureRadios" id="F23" value="F23"> (F23) Where to Buy
                                </label>
                            </div>   
                            <div class="form-check">
                                <label for="F24">
                                        <input class="form-check-input double" type="radio" name="featureRadios" id="F24" value="F24"> (F24) Link to Offsite Location
                                </label>
                            </div>   
                            <div class="form-check">
                                <label for="F25">
                                        <input class="form-check-input double" type="radio" name="featureRadios" id="F25" value="F25"> (F25) Promotions and Contests Page
                                </label>
                            </div> 
                        </div>
                        <div class="modal-footer">
                            <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
                            <button type="button" class="btn btn-primary" onclick="showTemplates();" data-dismiss="modal">Save selection</button>
                        </div>
                    </div>
                </div>
            </div>


            <!--  ------------------------------------------------------Test Cases ---------------------------- -->
            <button type="button" id="tcb" style="border: 1px solid green;"  class="btn btn-lg width-set topSpace" data-toggle="modal" data-target="#casesModal" disabled>
                Test Cases
                </button>
                <br \>    
            <!-- Modal Test Cases-->
            <div class="modal fade" id="casesModal" tabindex="-1" role="dialog" aria-labelledby="casesTitle" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="casesTitle">Select Test Cases</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <ul style="text-align:left; list-style-type: none;" class="liAlign" id="theTestCases">
                            <!-- <input class="double testcasechoice" type="checkbox" />    These are populated by the grabTCsForFeature function on the runTestsModalScript.js page-->
                        </ul>
                    </div>
                    <div class="modal-footer">
                        <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> Currently we do not need a separate exit button and the exit feature is built into SAVE-->
                        <button type="button" class="btn btn-primary" onclick="showTCs()" data-dismiss="modal">Save selections</button>
                    </div>
                    </div>
                </div>
            </div>

            <!--  ------------------------------------------------------URLs ---------------------------- -->
            <button type="button" id="url"style="border: 1px solid green;"  class="btn btn-lg width-set topSpace" data-toggle="modal" data-target="#urlsModal" disabled>
                URLs
                </button>
                <br \>    
            <!-- Modal URLs-->
            <div class="modal fade" id="urlsModal" tabindex="-1" role="dialog" aria-labelledby="urlsTitle" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="urlsTitle">Select URLs</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <ul style="text-align:left; list-style-type: none;" >
                            <li>
                                <input id="alltheURLs" class="double aURL" type="radio" name="urlRadios"/> &nbsp;All URLs
                            </li>
                            <li>
                                <input id="tenURLs" class="double topSpace aURL" type="radio" name="urlRadios"/> &nbsp;Ten URLs
                            </li>
                            <li style="display:none;">
                                <input id="oneURL" onclick="showInput()" class="double topSpace aURL" type="radio" name="urlRadios"/> &nbsp;Enter a URL for testing
                            </li>
                            <li style="display: none"  id="typedURL">
                                <input class="topSpace" id="enteredURL" type="text"/>
                            </li>

                        <!-- Currently we are not letting the user select URLs individually as there are so many to choose from -->
                        <!-- <% for (var x = 0; x < urls.length; x++){ %>
                            <li>
                                <input id="" class=" double" onclick="" type="checkbox" />&nbsp;<%= urls[x].UrlId %> | <%= urls[x].Url %>
                            </li>
                        <% } %> -->
                        </ul>
                    </div>
                    <div class="modal-footer">
                        <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
                        <button type="button" onclick="showURLChoice()" class="btn btn-primary" data-dismiss="modal">Save selections</button>
                    </div>
                    </div>
                </div>
            </div>
            <br \>
            <div style="display:none;"><label for="name">Name: </label><textarea style="margin-left:5px;" id="name" rows="1" cols="38" placeholder="Enter new test name here"></textarea></div>
            <br \>
            <button style="display:none;"type="button" class="btn btn-lg btn-warning" onclick="">save</button>
            <button type="button" class="btn btn-lg btn-success width-set" onclick="runit()">run</button><br \>
            
        </div>

        <div class = "col-lg-4" style="background-color:white;">
            <p id="testNames"></p>
            <p id="selectedLanguages">Languages: </p>
            <p id="selectedTemplates">Template:</p>
            <p id="selectedTestCases">Test Cases: </p>
            <p id="selectedURLs">URLs: </p>

        </div>
       
    </div>
</div><!-- end .container-fluid -->
<script>
    // this needs work - it currently removes the checkboxes --------------SEARCH FEATURE
    // $(document).ready(function(){
    //     $("#langSearch").on("keyup", function() {
    //         var value = $(this).val().toLowerCase();
    //         $("#myUL *").filter(function() {
    //         $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    //         });
    //     });
    // });


let langArray = document.getElementsByClassName('lang double');
let templateArray = document.getElementsByClassName("form-check-input double");


let langParagraph = document.getElementById("selectedLanguages");
let tcParagraph = document.getElementById("selectedTestCases");
let templateParagraph= document.getElementById("selectedTemplates");
let urlParagraph = document.getElementById("selectedURLs");

let templateButton = document.getElementById("tb");
let testCaseButton = document.getElementById("tcb");
let urlButton = document.getElementById("url");


let node = document.createElement("LI");

function showLangs(){ //this shows the languages selected in the selections area
    langParagraph.innerHTML = "Languages: ";
    for(var x=0; x<langArray.length; x++){
        if (langArray[x].checked == true){
            langParagraph.innerHTML = langParagraph.innerHTML + "&nbsp" + langArray[x].id + ", ";
            templateButton.removeAttribute("disabled");
        }
    }
}

function showTemplates(){  
    let langParagraphLength = document.getElementById("selectedLanguages").innerHTML;
    templateParagraph.innerHTML = "Template: ";
    for (var q = 0; q<templateArray.length; q++){
        if (templateArray[q].checked == true){
            templateParagraph.innerHTML = templateParagraph.innerHTML + "&nbsp" + templateArray[q].id;
        }
    }
    
    //remove any list items that were added to the modal from a previous selection
    var ulParent = document.getElementById("theTestCases");
    while(ulParent.hasChildNodes()){
        ulParent.removeChild(ulParent.lastChild);
    }
    tcParagraph.innerHTML = "Test Cases: ";

    testCaseButton.removeAttribute("disabled");
    urlButton.removeAttribute("disabled");
    grabTCsForFeature();
}

function showTCs(){
    let testCaseArray = document.getElementsByClassName("list testcasechoice");
    let caseCheckboxes = document.getElementsByClassName("double testcasechoice");
    tcParagraph.innerHTML = "Test Cases: ";
    for (var x = 0; x<testCaseArray.length; x++){
        if (caseCheckboxes[x].checked == true){
            tcParagraph.innerHTML = tcParagraph.innerHTML + "<br>" + testCaseArray[x].innerText;
        }
    }
}
function showInput(){
    let box = document.getElementById("typedURL");
    box.setAttribute("style", "display:block;");

}

function showURLChoice(){

    let urlChoiceArray = document.getElementsByClassName("aURL");
    urlParagraph.innerHTML ="URLs: ";
    for(var y = 0; y<urlChoiceArray.length; y++){
        if(urlChoiceArray[y].checked == true){
            urlParagraph.innerHTML = urlParagraph.innerHTML + urlChoiceArray[y].parentElement.innerText;
        }
    }
    let typedInURL = document.getElementById("enteredURL").value;
    console.log(typedInURL);
    if (typedInURL.length >0){
        console.log("something was typed");
        urlParagraph.innerHTML = "URLs: "+ typedInURL;
    }
}

function runit(){

    let langs = langParagraph.innerHTML.substring(10);
    langs = langs.replace(/&nbsp;/g,"");
    langs = langs.replace(/ /g,"");
    langs = langs.slice(0,-1);
    langs=langs.split(",");

    let temp = templateParagraph.innerHTML.substring(9);
    temp = temp.replace(/&nbsp;/g,"");
    temp = temp.replace(/ /g,"");

    let tcs = tcParagraph.innerHTML.substring(11);
    tcs = tcs.replace(/ /g,"");
    let tcIDs=tcs.split("<br>");
    for(var x=0; x<tcIDs.length; x++){
        tcIDs[x]=tcIDs[x].split("\|")[0];
    }
    tcIDs.shift();


    let urlChoices = urlParagraph.innerHTML.substring(7)
    urlChoices = urlChoices.replace(/&nbsp;/g,"");
    urlChoices = urlChoices.replace(" URLs", "");


    let modalObject = {
    "languages": langs,
    "features": temp,
    "TestCaseSelections": tcIDs,
    "Urls": urlChoices
    }; 

    let object = JSON.stringify(modalObject);

    console.log(object);

    $.ajax({
        url: '/run-test',
        type: 'POST',
        data: object,
        contentType: "application/json",
        error: function(data) {
        console.log(data);
        },
        success: function(data) {
        console.log(data);
        console.log("I am great success.");
        }
    })
}
</script>

<%- include('footer') %>
