<%- include('header') %>

<!--  --------------------------------------------------------------  -->
<!-- javascript functions for this page can be found on exporting.js  -->
<!--  --------------------------------------------------------------  -->

<div class="container-fluid">

    <div class="row">
        <div class="col-lg-4 offset-lg-4 text-center">
        <br /><br />
        <h1><%= title %></h1>
        </div><!-- end .col-lg-4 -->
    </div><!-- end .row -->
        
    <br />

    <div class="row">
        <div class="col-sm-12 col-lg-6 offset-lg-1 col-xl-5 offset-xl-2">
            <h2>Scenarios:</h2>
            <input type="text" placeholder="Search.." id="myInput" onkeyup="filterFunction()">  <!-- Search Bar  - the search function is in the search.js file-->
            <select size="5" onChange="showIt(this)" id="tcSelection" ><!-- add data in here that shows if it is a Functional test-->
                <% for(var i=0; i < testcases.length; i++){ %>
                    <option value="<%= testcases[i].Gherkin %>" style="white-space:pre-wrap; border-bottom: 1px solid #ddd;" id="<%=testcases[i].TestCaseId%>" data-functional="<%=testcases[i].IsFunctionalTest%>">
                        <%=testcases[i].TestCaseId%>  | <%= testcases[i].TestCaseDescription %> 
                    </option>
                <% } %>
            </select>
        </div>
        <div class="col-sm-12 col-lg-4 col-xl-4">
            <h2>Behat Code:</h2>
            <p id="selectedID" ></p>
            <p id="functionality" ></p>
            <p id="gherkin">Select a Scenario on the left to view the related Gherkin.  <br>Then you may edit the selected Gherkin by clicking below.</p>
        </div>
    </div>

    <br />
    <div class="row">
        <div class="col-lg-4 offset-lg-2 text-center">
            <button class="btn btn-warning width-set createTc" onclick='createTc()'>Create New Test Case</button>
        </div>

        <div class="col-lg-4 text-center">
            <button class="btn btn-warning width-set" onclick="editTc()">Edit Selected Test Case</button>
        </div>
    </div>

    <br />
    <div id="hiddenRow" style="display:none">

        <div class="row">
            <div class="col-lg-1 offset-lg-0 col-xl-1 offset-xl-2">
                <h2> ID: </h2>
                <p id="theID"></p>
                <p id="functional">Function test? <input id="funcitonalCheckbox" type="checkbox"></p>
            </div>
            <div class="col-lg-5 col-xl-3" >
                <h2>Scenario: </h2>
                <textarea  rows="4" class="textareaClass" id="theScenario"></textarea>
            </div>
            <div class="col-lg-5 col-xl-3">
                <h2>Gherkin: </h2>
                <textarea  style="white-space: pre-wrap;" rows="4" class="textareaClass" id="theGherkin"></textarea>
            </div>
        </div>
        <br /><br />
        
        <div class="row">
            <div class="col-lg-4 offset-lg-2">
                <h2> Apply to Feature Page: </h2>
                <% for(var x=0; x < template.length; x++) {%>
                    <button type="button" class="btn btn-light locale-button x" id="<%=  template[x].Id  %>" value="<%=template[x].TestCaseId %>" onclick="classSwitch(this)">
                    <%=  template[x].Id  %>
                    </button>                   
                <%}%>
            </div>
            <div class="col-lg-4" >
                <h2> When you are absolutely sure:</h2>
                <br /><br />
                <div class="text-center"><button type="button" class="btn btn-danger locale-button width-set" onclick="exportGherkin()">Save Edits</button></div>
            </div>
        </div>
    </div><!-- end of hiddenRow -hidden area that unhides on "edit selected test case" button click -->

</div><!-- end .container -->


<%- include('footer') %>
