<%- include('header') %>

<div class="container-fluid">

    <div class="row">
        <div class="col-lg-4 offset-lg-4 text-center">
        <br /><br>
        <h1><%= title %></h1>
        </div><!-- end .col-lg-4 -->
    </div><!-- end .row -->
        
    <br/>

    <div class="row">
        <div class="col-lg-4 offset-lg-2">
            <h2>Scenarios:</h2>
            <input type="text" placeholder="Search.." id="myInput" onkeyup="filterFunction()">  <!-- Search Bar -->
            <select size="5" onChange="showIt(this)" id="tcSelection">
                <% for(var i=0; i < testcases.length; i++){ %>
                    <option value="<%= testcases[i].Gherkin %>" style="white-space:pre-wrap; border-bottom: 1px solid #ddd;" id="<%=testcases[i].TestCaseId%>">
                        <%=testcases[i].TestCaseId%>  | <%= testcases[i].TestCaseDescription %>
                    </option>
                <% } %>
            </select>
        </div>
        <div class="col-lg-4">
            <h2>Behat Code:</h2>
            <p id="selectedID" style="display:none"></p>
            <p style="height:300px;" id="gherkin">Select a Scenario on the left to view the related Gherkin.  Then you may edit the selected Gherkin by clicking below.</p>

            <br><br>
        </div>
    </div>

    <br>
    <div class="row">
        <div class="col-lg-4 offset-lg-2 text-center">
            <button class="btn btn-warning width-set" onclick='createTc()'>Create New Test Case</button>
        </div>
        <div class="col-lg-4 text-center">
            <button class="btn btn-warning width-set" onclick="editTc()">Edit Selected Test Case</button>
        </div>
    </div>

    <br><br>

    <div id="hiddenRow" style="display:none">

        <div class="row">
            <div class="col-lg-1 offset-lg-2">
                <h2> ID: </h2>
                <p id="theID"></p>
            </div>
            <div class="col-lg-3" >
                <h2>Scenario: </h2>
                <textarea  rows="4" cols="60" id="theScenario"></textarea>
            </div>
            <div class="col-lg-4">
                <h2>Gherkin: </h2>
                <textarea  rows="4" cols="60" id="theGherkin"></textarea>
            </div>
        </div>
        <br><br>
        
        <div class="row">
            <div class="col-lg-4 offset-lg-2">
                <h2> Apply to Feature Page: </h2>
                <% for(var x=0; x < template.length; x++) {%>
                    <button type="button" class="btn btn-light locale-button x" id="<%=  template[x].Id  %>" value="<%=template[x].TestCaseId %>" onclick="classSwitch(this)">
                    <%=  template[x].Id  %>
                    </button>                   
                <%}%>
            </div>
            <div class="col-lg-4" >
                <h2> When you are absolutely sure:</h2>
                <br><br>
                <div class="text-center"><button type="button" class="btn btn-danger locale-button width-set" onclick="saveIt()">Save Edits</button></div>
            </div>
        </div>
    </div><!-- end of hiddenRow -hidden area that unhides on "edit selected test case" button click -->

</div><!-- end .container -->

  <br /><br /><br /><br />

  <script>

    function showIt(ID){
        var p = document.getElementById("gherkin");
        var text =document.getElementById("tcSelection").value;
        p.innerHTML = text;
        
        var p2=document.getElementById("selectedID");
        var input =ID[ID.selectedIndex].id;
        p2.innerHTML = input;
    }
    
    function editTc(){

        var hidden=document.getElementById("hiddenRow");
        hidden.setAttribute("style", "display:visible");
                
        var placement1= document.getElementById("theID");
        var ID=document.getElementById("selectedID").innerHTML; //grab the TestCaseID from the hidden paragraph above
        placement1.innerHTML=ID;

        var placement2= document.getElementById("theScenario");  //get the location under the "Scenario" heading
        var content2 = document.getElementById("gherkin").innerHTML;
        if(content2.indexOf('Then') > -1){
            content2=content2.substring(0, content2.indexOf('Then'));
        }
        if(content2.indexOf('When') > -1){
            content2=content2.substring(0, content2.indexOf('When'));
        }
        placement2.innerHTML = content2;

        var placement3= document.getElementById("theGherkin");
        var content3=document.getElementById("tcSelection").value;
        content3= content3.replace(content2,''); //this gets rid of the Scenario so that content3 only contains Gherkin 
        content3=content3.replace("@javascript",''); //this gets rid of the '@javascript' that is in some of these Gherkin strings
        content3=content3.replace(/\n/,''); 
        placement3.innerHTML=content3;
        // getLive(content1);

        var buttons = document.getElementsByClassName("x");

         for (var q=0; q<buttons.length; q++){
            buttons[q].setAttribute("class", "btn btn-light locale-button x");
        }

        var string = '"';
        for (var x=0; x<buttons.length; x++){
            var buttonData = buttons[x].value;
            buttonData = buttonData.split(",");

            if (buttonData.indexOf(ID.toString(),0) > -1){
                buttons[x].setAttribute("class", "btn btn-warning locale-button x");
            }
        }

        
    }
    
    function classSwitch(thisOne){
        var currentID = thisOne.getAttribute("id");
        var currentClass = thisOne.getAttribute("class").toString();
        if (currentClass.indexOf("btn-warning") > -1){
            thisOne.setAttribute("class", "btn locale-button x btn-danger");
        } else if (currentClass.indexOf("btn-danger") > -1) {
            thisOne.setAttribute("class", "btn locale-button x btn-warning");
        }else if (currentClass.indexOf("btn-light") > -1) {
            thisOne.setAttribute("class", "btn locale-button x btn-success");
        }else if (currentClass.indexOf("btn-success") > -1) {
            thisOne.setAttribute("class", "btn locale-button x btn-light");
        }

    }

    function saveIt(){
        var theCaseID = document.getElementById("theID").innerHTML;
        var newScenario = document.getElementById("theScenario").value;
        var newGherkin = document.getElementById("theGherkin").value;
        var newPagesArray=[];
        var removePagesArray = [];

        var newPages = document.getElementsByClassName("btn locale-button x btn-success");        
        for (var x=0; x<newPages.length;x++){
            newPagesArray[x] = newPages[x].innerHTML;
            newPagesArray[x]=newPagesArray[x].replace(/^[^f]*/, '');
            newPagesArray[x]=newPagesArray[x].replace(/[^\d+]+$/, '');
        }

        var removals = document.getElementsByClassName("btn locale-button x btn-danger");
        for (var q=0; q < removals.length; q++){
            removePagesArray[q] = removals[q].innerHTML;
            removePagesArray[q]=removePagesArray[q].replace(/^[^f]*/, '');
            removePagesArray[q]=removePagesArray[q].replace(/[^\d+]+$/, '');
        }

        //function writeItToDatabase(theCaseID, newScenario, newGherkin, newPagesArray, removePagesArray){};

    }
    
    function createTc(){
        var hidden=document.getElementById("hiddenRow");
        hidden.setAttribute("style", "display:visible");
    }

    function filterFunction() {
        var input, filter, ul, li, a, i;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        div = document.getElementById("tcSelection");
        a = div.getElementsByTagName("option");
        for (i = 0; i < a.length; i++) {
            if (a[i].innerHTML.toUpperCase().indexOf(filter) > -1) {
            a[i].style.display = "";
            } else {
            a[i].style.display = "none";
            }
        }
    }

  </script>
  <%- include('footer') %>
