<%- include('header') %>

<div class="container-fluid">
  <div class="row">
    <div class="col-lg-4 offset-lg-4 text-center">
      <br /><br>
      <h1><%= title %></h1>

      <% if(typeof user == 'string' && user){ %>

      <h3>User is: <%= user %></h3>

      <% } %>

    </div><!-- end .col-sm-12 -->
  </div><!-- end .row -->


  <div class="col-lg-4 offset-lg-2">
      <select size="25" name="cases">
          <% for(var i=0; i < testcases.length; i++)
      </select>
  </div>


    <div class="table-responsive">
      <table class="table table-hover table-bordered">
          <thead class="thead-light">
            <tr>
              <th>Run  Date:</th>
              <th>Test Pass ID:</th>
              <th>Template: </th>
              <th>Language:</th>
              <th>Test Scenario: </th>
              <th class="text-center">Test Case ID:</th>
              <th class="text-left">Result:</th>
              <th>Message: </th>
              <th class="text-left">URL:</th>
              <th>Owner:</th>
              <th>Notes:</th>
            </tr>
          </thead>
          <!-- ###                                                               -->
          <!-- ###         ALL RESULTS LOADED IN FIRST TAB HERE                  -->
          <!-- ###                                                               -->
          <% if(results){ %>
            <% for(var i=0; i < results.length; i++) { %>
                  <tr>
                    <td>
                     <% var a = results[i].RunDate.toString();
                      var b = a.substring(0, a.indexOf('GMT')); %>
                      <%=b%>
                    </td>
                    <td>
                      <!-- Titled Test Pass ID -->
                      <%= results[i].TestPassId %>
                    </td>
                    <td>
                      <%= results[i].Template %>
                    </td>
                    <td>
                      <%= results[i].Language %>
                    </td>
                    <td>
                      <% if(results[i].Output.includes("Result:")){
                        var q = results[i].Output;
                        var r = q.split("Result:")[0];
                          r = r.replace("Scenario:",'');
                      }else{
                        var r = results[i].Output;
                          r = r.replace("Scenario:",'');
                      } %> 
                      <a href="<%= currentUrl %>query/<%=r%>"><%=r%></a>
                    </td>
                    
                    <td>
                      <!-- Titled 'Test Case ID' -->
                      <%= results[i].TestCaseId %> 
                    </td>
                    <td>
                      <%if (results[i].Result === "PASS") { %>
                        <a href="<%= pfsUrl %>PASS" class="btn btn-success">PASS</a>
                        <% }else if(results[i].Result === "FAIL"){ %>
                          <a href="<%= pfsUrl %>FAIL" class="btn btn-danger">FAIL</a>
                          <% }else{%>
                            <a href="<%= pfsUrl %>SKIP" class="btn btn-primary">SKIP</a>
                            <% } %>
                    </td>
                    <td>
                      <!-- Titled 'Message' and includes fail errors and skip messages ID -->
                      <% if(results[i].Output.includes("Result:")){
                        var y = results[i].Output;
                        var x = y.substring(y.indexOf("Result:"));
                        x = x.replace("Result:",'');
                      }else{
                        var x = '';
                      } %> 
                      <%=x%>
                    </td>
                    <td>
                      <a href="<%= results[i].URLs %>" target="_blank">
                        <%= results[i].URLs %>
                      </a>
                    </td>
                    <td>
                      <% if  (results[i].Owner) { %>
                        <%= results[i].Owner %>
                        <label><input type="radio" onclick="removeOwner();"> Remove </label>
                        <%  } else { %>
                        <select name="users">
                          <% if (users){ %>
                            <option value="none" selected>None</option>
                            <% for (var x=0; x < users.length; x++){%>
                            <option value="<% users[x] %>"><%= users[x] %></option>
                          <% }} %>
                        </select>
                        <input type="submit">
                        <% } %>
                    </td>
                    <td>
                      <% if (results[i].Notes){ %>
                        <%= results[i].Notes %>
                        <button onclick="editNote(<%= [i] %>)">edit</button>
                        <%} else{ %>
                        <textarea name="note" rows="1" cols="20">notes</textarea>
                        <input type="submit">
                        <%}%>
                    </td>
                                       
                  </tr>
              <% }} %>
      </table>
    </div><!-- end .table-responsive -->
  </div><!-- end .row -->
  
  </div><!-- end .container -->

  <br /><br /><br /><br />
  <%- include('footer') %>
