<%- include('header') %>

<div class="container-fluid">
  <div class="row">
      <div class="col-sm-12"><br><br></div><!-- end .col-sm-12 -->
  </div><!-- end .row -->
  
  <div class="row">
    <div class="col-sm-12">

      <table class="table table-hover testRunTable">
        <thead>
          <tr>
            <th class="d-inline-block col-4">Scripts</th>
            <th class="d-inline-block col-4">Status/Progress</th>
            <th class="d-inline-block col-4">Start/Stop</th>
          </tr>
        </thead>
  
        <tbody>
        <% for(var i=0; i < scripts.length; i++) { %>
        
          <tr>
          <td class="d-inline-block col-4"><a href="/test-runner/<%= scripts[i] %>"><h4><%= scripts[i] %></h4> </a></td>
  
          <td class="d-inline-block col-4"><%= status[i] %></td>
  
          <% if(status[i] === "stopped"){ %>
          <td class="d-inline-block col-4"><button class="btn btn-success">Start</button></td>
          <% }else{ %>
  
          <td class="d-inline-block col-4"><button class="btn btn-danger">Stop</button></td>
          <% } %>  
          </tr>
        <% } %>
        </tbody>
      </table>

    </div><!-- end .col-sm-12 -->
  </div><!-- end .row -->
</div><!-- end .container-fluid -->

<br /><br /><br />
<%- include('footer') %>
